<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word</title>
</head>
<body>
    <h1>{{request.session.word}}</h1>
    <h1>{{request.session.counter}}</h1>
    <form action="/generate" method="post">
        {% csrf_token %}
        <button>Generate</button>
    </form>
    
    <form action="/reset" method="post">
        {% csrf_token %}
        <button>RESET</button>
    </form>
</body>
</html>